.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.results-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}
